<!doctype html>
<html>
<head>
    <title>Add Meal Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link type="text/css" rel="stylesheet" href="/css/addmeal.css">
</head>
    <div class="cover-image">
        <div class="form-container">
            <h1>Add New Meal</h1>
            <form class="add-meal" action="/meal" method="post">
                <input type="hidden" name="userId" value="<%= user._id %>"/>
                <input class="form" type="date" id="datePicker" name="date" value="<%=today%>">
                <select  class="form" name="meals" id="mealType">
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                    <option>Snack</option>
                </select>
                <div class="input-group">
                <input type="hidden" class="foodIDs" name="foodIDs" value=""/>
                    <select class="form" id="foodPicker" name="foodId">
                        <% for(var i = 0; i < foods.length; i++){ %> 
                            <option class="food-<%=foods[i]['_id']%>" value="<%=foods[i]['_id']%>"><%=foods[i].name%></option>
                            <%}%>
                    </select>
                    <button class="add btn btn-default">+</button>
                </div>
                <ul class="added-food"> </ul>  
                <button type="submit" class="btn btn-default">Add Meal</button>
            </form>
        </div>
    </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/addmeal.js"></script>
</body>
</html>


